.option-area
  .option
    %span.option_item
    %span.option_item
    %span.option_item
  .option-menu
    %ul
      %li 
        .destroy-post{'data-id': "#{post.id}" } Delete
      %li edit
%li.content_item
  %span.content
    = post.content
  %span.timestamp
    = time_ago_in_words(post.created_at)
    ago.