%h3= current_user.name
%ul.stat
  %li 
    %a
      %span.name Friend
      %span.count
        = current_user.user_responses.where(status: "accept").count
  %li
    %a
      %span.name Post
      %br
      %span.count
        = current_user.posts.count

        