%h3= current_user.name
%ul.stat
  %li 
    %a
      %span.name Friend
      %span.count
        = Friendship.where('user_request = ? or user_response = ? and status = ?',current_user.id, current_user.id, '1').count
  %li
    %a
      %span.name Post
      %br
      %span.count
        = current_user.posts.count

        