/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * 
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";
 ul li{  
  list-style: none !important;
  float: left;
  margin-right: 20px;
}

.home a{
  color: white;
}

li.search{
  color: white;
}

.user_name a{
  color: white;
}

span.glyphicon{
  color: white
}

span.glyphicon a{
  color: white
}
ul .navbar-right{
  position: absolute
}
.navbar{
  background-color: blue
}
.navbar-left{
  float: left;
  margin-top: 15px;
}
.navbar-right{
  float: right !important;
  margin-top: 15px;
}

.header_nav{
  color: #0092f5;
}

body{
  background-color: #E4EBF0
}

.login_form{
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 150px;
  width: 60%;
  background-color: white;
  padding-bottom: 10px;
}

.login_form input{
  width: 60%;
  border-radius: 150px
}

.signup_form{
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 150px;
  width: 60%;
  background-color: white;
  padding-bottom: 10px;
}

.signup_form input{
  width: 72%;
  border-radius: 150px
}

.actions input{
  width: 20%;
  border-radius: 150px;
}

.remember{
  margin-left: -222px;
}

.remember label{
  margin-left: -222px;
}

.user_name a{
  padding-top: 0px;
}

.home a{
  padding-top: 0px !important;
}

.edit_form{
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  width: 60%;
  background-color: white;
  padding-bottom: 10px;
}
.edit_form input{
  width: 72%;
  border-radius: 150px
}

.forgot_pass_form{
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  width: 60%;
  background-color: white;
  padding-bottom: 10px;
}
.forgot_pass_form input{
  width: 72%;
  border-radius: 150px
}

.edit_pass_form{
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  width: 60%;
  background-color: white;
  padding-bottom: 10px;
}
.edit_pass_form input{
  width: 72%;
  border-radius: 150px
}

.like-area i.fa.fa-comments-o{
  margin-left: 150px;
  font-size: 25px;
  cursor: pointer;
}

.destroy-like{
 position: absolute;
 width: 60px; 
}

.destroy-friend{
  margin-left: 100px;
}
.new_like{
  position: absolute;
  width: 60px;
}

.avatar-area img{
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 5px
}

.avatar-comment-area img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  margin-left: 60px
}

.destroy-friendship-button{
  cursor: pointer;
  font-weight: bold;
  color: black
}

.accept-friendship-button{
  cursor: pointer;
  font-weight: bold;
  color: black
}

.request-area{
  position: absolute;
  width: 100px;
  margin-left: 100px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.request-area li{
  list-style: none;
  margin-bottom: 70px;
}

.request-area .option-response{
  display: none;
}


// span.glyphicon-remove-circle{
//   width: 50px;  
// }

.glyphicon-remove-circle:before{
  color: red;
  font-size: 20px;
  position: absolute;
}

.glyphicon-ok-circle:before{
  color: green;
  position: absolute;
  font-size: 20px;
  margin-left: 50px;
}

// .glyphicon-ok-circle{
//   margin-top: -5px;
//   width: 50px;
// }
.destroy-friend{
  position: absolute;
}
.accept-friend{
  position: absolute;
}

#new_friendship input{
  margin-left: -3px;
}

ul.stat li{
  width: 40px;
}