// Place all the styles related to the friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_friendship input{
  border: none;
  background-color: #E2EAF0;
  color: black;
  font-weight: bold;
  margin-left: -45px; 
}